---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta name="description" content="Pi-Eye: Raspberry PI camera-based instrumentation" />
    <link rel="stylesheet" type="text/css" media="screen" href="/pi-eye/stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/pi-eye/stylesheets/custom.css">
    <title>Pi-Eye</title>
  </head>
  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/CapitalFactory/pi-eye">View on GitHub</a>

          <h1 id="project_title">Pi-Eye</h1>
          <h2 id="project_tagline">Raspberry PI camera-based instrumentation</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/CapitalFactory/pi-eye/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/CapitalFactory/pi-eye/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Pi-Eye maintained by <a href="https://github.com/CapitalFactory">CapitalFactory</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
  </body>
</html>
